
@{
    ViewBag.Title = "Summary";
}

<h2>Summary</h2>
<h3>@ViewBag.ConfMessage</h3>
<p>You did it!</p>
<ul>
    <li>@ViewBag.Name</li>
    <li>@ViewBag.Email</li>
    <li>@ViewBag.Birthday</li>
</ul>

